.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.box{
  width: 40vw;
  height: 50vh;
  background-color: rgb(71, 219, 219);
}
.slides{
  display: flex;
  flex-direction: column; 
  margin-bottom: 10px;
  width: 30vw;
}
.output{
  border: 1px solid grey;
  width: 33vw;
  height: 15vh;
  margin-top: 30px;
  border-radius: 6px;
  background-color: lightcyan;
}
.heading{
  width: 70vw;
  margin-left: 40px;
  text-align: center;
  font-family:cursive;
  box-shadow: 10px 20px 5px rgb(214, 212, 212) ;
}
body{
  background-color: lightyellow;
  overflow: hidden;
}
.para{
  text-align: center;
font-family:cursive;
}
